<div class="header container">
  <header>
    <%= link_to 'Nadya\'s Portfolio', root_url, id: "title" %>
    <div id="menu">
      <ul>
        <li><%= link_to 'Home' %></li>
        <li><%= link_to 'About Me' %></li>
        <li><%= link_to 'Contacts' %></li>
      </ul>
    </div>
  </header>
</div>

<%= render 'form' %>

<section>
  <div class="content container">
    <ul class="grid">
      <% @pieces.each do |piece| %>
        <%= render piece, :piece => piece %>
      <% end %>
    </ul>
  </div>
</section>